<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap HelloWorld</title>

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./js/bootstrap.min.js"></script>

    <style>

        .inner{
            color: red;
            border: 1px solid green;
        }

    </style>

</head>
<body>

<div class="row">
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
    <div class="col-md-1 inner">.col-md-1</div>
</div>
<div class="row">
    <div class="col-md-8 inner">.col-md-8</div>
    <div class="col-md-4 inner">.col-md-4</div>
</div>
<div class="row">
    <div class="col-md-4 inner">.col-md-4</div>
    <div class="col-md-4 inner">.col-md-4</div>
    <div class="col-md-4 inner">.col-md-4</div>
</div>
<div class="row">
    <div class="col-md-6 inner">.col-md-6</div>
    <div class="col-md-6 inner">.col-md-6</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 inner">平板大小</div>
        <div class="col-md-4 inner">平板大小</div>
        <div class="col-md-4 inner">平板大小</div>

        <br>


        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>
        <div class="col-sm-2 col-lg-1 inner">手机大小</div>

        <div class="img-responsive img-circle "><img src="img/banner_1.jpg"/></div>

    </div>
</div>

</body>
</html>