<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海南省总工会大数据中心</title>
    <link rel="stylesheet" href="css/data-mobile.css">
</head>
<body>
    <div class="app">
        <div class="header">
            <p class="p1">海南省总工会</p>
            <p class="p2">- 组织建设 -</p>
        </div>
        <div class="content">
            <p class="p3">工会会员数统计</p>
            <div class="bk"></div>
            <div class="total" id='total1'>
            </div>
            <div class="btn" id="btn1">查看更多</div>
        </div>
        <div class="content">
            <p class="p3">工会组织数统计</p>
            <div class="bk"></div>
            <div class="total" id="total2">
            </div>
            <div class="btn" id="btn2">查看更多</div>
        </div>
    </div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/mobile.js"></script>
</html>