<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">

    <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>海南工会云-组织建设</title>
    <style>
        .line1 {
            position: fixed;
            top: 33.333vh;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #ffffff;
            z-index: 99999999;
        }

        .line2 {
            position: fixed;
            top: 66.666vh;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #ffffff;
            z-index: 99999999;
        }

        .col1 {
            position: fixed;
            top: 0;
            left: 33.333vw;
            bottom: 0;
            width: 1px;
            background-color: #ffffff;
            z-index: 99999999;
        }

        .col2 {
            position: fixed;
            top: 0;
            right: 33.333vw;
            bottom: 0;
            width: 1px;
            background-color: #ffffff;
            z-index: 99999999;
        }
        video{
            /* width: 100vw; */
            /* height: 100vh; */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* transform: scale(1.2); */
        }
        .gradient-text{ 
            background-image:-webkit-linear-gradient(bottom,#0bade5,#24a7d4,#3e7ceb);
         -webkit-background-clip:text; 
         -webkit-text-fill-color:transparent;
         font-size: 40px;
         padding: 10px }
    </style>
</head>

<body>
    <video src="video/new_bg.mp4"  autoplay="autoplay" loop></video>
    <!-- <div class="line1"></div>
    <div class="line2"></div>
    <div class="col1"></div>
    <div class="col2"></div> -->
    <div class="top-title">
        <h3 class="gradient-text">海南省总工会-组织建设</h3>
        <div class="con-date">
            <img class="icon-time" src="./img/time_icon@2x.png" alt="" srcset="">
            <span id="date">
              
            </span>
        </div>
    </div>
    <div class="con-vip-num-count">
        <div class="title-vip-num-count">
            工会会员数统计
        </div>
        <div class="con-gif" style="margin-top: -7px">
            <img style="width: 384px;height: 1px;opacity:0.6;" class="title_gif" src="img/title_bg.gif" alt="">
        </div>
      
        <div class="con-org-rank" id="vip-num-count">
            <!-- <div class="org-rank-item">
                <div class="rank-num">
                    1
                </div>
                <div class="org-name">
                    海航集团有限公司
                </div>
                <div class="org-rank-bar">

                </div>
                <div class="org-num">
                    2688
                </div>
            </div> -->
           
        </div>
        <div class="text-rank1">
            （各工会会员数排行）
        </div>
        <div id="country-ratio">

        </div>
        <div class="text-rank2">
            （工会会员人数全省占比统计）
        </div>
    </div>
    <div class="con-VIP-num">
        <div class="VIP-num-title">
            会员人数
        </div>
        <div class="VIP-num">
            <span class="VIP-item">
                1
            </span>
            <img class="icon-comma" src="./img/comma@2x.png" alt="">
            <span class="VIP-item">
                2
            </span>
            <span class="VIP-item">
                3
            </span>
            <span class="VIP-item">
                4
            </span>
        </div>
    </div>
    <div class="con-vip-add">
        <div class="title-vip-add">
            会员人数增长趋势
        </div>
        <div class="day-add style-add">
            日增长
        </div>
        <div class="mon-add style-add active-add">
            月增长
        </div>
        <div class="year-add style-add">
            年增长
        </div>
        <div id="vip-add">

        </div>
    </div>
    <div class="swiper-container con-vip-nation">
            <div class="con-gif" style="margin-top: 4px">
                    <img style="width: 384px;height: 1px;opacity:0.6;" class="title_gif" src="img/title_bg.gif" alt="">
                </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="title-Nation">
                    工会会员民族占比统计
                </div>
                <div id="Nation" class="wh"></div>
                <div class="con-nation">
                    <div class="item-nation">
                        <div class="name-nation">
                            汉族（1458741）
                        </div>
                        <div class="con-progress">
                            <div class="bar">

                            </div>
                        </div>
                    </div>
                    <div class="item-nation">
                        <div class="name-nation">
                            黎族（254684）
                        </div>
                        <div class="con-progress">
                            <div class="bar">

                            </div>
                        </div>
                    </div>
                    <div class="item-nation">
                        <div class="name-nation">
                            壮族（256454）
                        </div>
                        <div class="con-progress">
                            <div class="bar">

                            </div>
                        </div>
                    </div>
                    <div class="item-nation">
                        <div class="name-nation">
                            苗族（236436）
                        </div>
                        <div class="con-progress">
                            <div class="bar">

                            </div>
                        </div>
                    </div>
                    <div class="item-nation">
                        <div class="name-nation">
                            其他（24578）
                        </div>
                        <div class="con-progress">
                            <div class="bar">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title-Nation">
                    工会会员学历占比统计
                </div>
                <div id="Education" class="wh">
                    <div class="edu-item">
                        <div class="edu-name">
                            小学及以下
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                      
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                初中
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                高中/技校
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                中专
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                大专
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                大学本科
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                硕士研究生
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                    <div class="edu-item">
                        <div class="edu-name">
                                博士研究生
                        </div>
                        <div class="edu-bar">

                        </div>
                        <div class="edu-p">
                            12%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="con-org-num">
        <div class="title-org-num">
            工会组织数统计
        </div>
        <div class="con-gif" style="margin-top: -10px">
               <img style="width: 384px;height: 1px;opacity:0.6;" class="title_gif" src="img/title_bg.gif" alt="">
            </div>
        <div class="now-org-num" id="now-org-num">
            <span>
                当前组织数：
            </span>
            <div class="now-org-num-item">
                    5
                </div>
                <img class="icon-zz-comma" src="img/zz_comma@2x.png" alt="" srcset="">
            <div class="now-org-num-item">
                5
            </div>
            <div class="now-org-num-item">
                5
            </div>
            <div class="now-org-num-item">
                5
            </div>
        </div>
        <div class="con-org-rank" id="org-count">
            <!-- <div class="org-rank-item">
                <div class="rank-num">
                    1
                </div>
                <div class="org-name">
                    海口市
                </div>
                <div class="org-rank-bar">

                </div>
                <div class="org-num">
                    2688
                </div>
            </div> -->
            
        </div>
    </div>
    <div class="swiper-container con-vip-age">
            <div class="con-gif" style="margin-top: 3px">
                    <img style="width: 384px;height: 1px;opacity:0.6;" class="title_gif" src="img/title_bg.gif" alt="">
                </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="title-vip-age">
                    工会会员年龄占比统计
                </div>
                <div id="vipAge">

                </div>

            </div>
            <div class="swiper-slide">
                <div class="title-Nation">
                    工会会员性别占比统计
                </div>
                <div id="vipSex" class="wh"></div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- <div class="con-vip-age">
        <div class="title-vip-age">
            工会会员年龄占比统计
        </div>
        <div id="">

        </div>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>