<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gobestsoft.mapper.DeptMemberMapper">


    <select id="queryPersonIdsByDeptId" parameterType="int" resultType="java.lang.Integer">

        SELECT
              dm.`person_id`
        FROM
              dept_member dm
        WHERE
              dm.`dept_id` = #{deptId};

    </select>

    <select id="judgeIsBindByPersonId" parameterType="int" resultType="java.lang.Integer">

        SELECT
              dm.`isBind`
        FROM
              dept_member dm
        WHERE
              dm.`person_id` = #{personId};

    </select>



    <select id="queryAllSons" resultType="java.lang.Integer">

        SELECT
              dm.`isBind`
        FROM
              dept_member dm
        WHERE
              dm.`dept_id` in ( ${sonIds} );

    </select>


</mapper>