<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海南省总工会大数据中心</title>
    <link rel="stylesheet" href="css/data-mobileall.css">
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="back" id="back"></div>
            <p class="p1">海南省总工会</p>
            <p class="p2">- 组织建设 -</p>
        </div>
        <div class="choose">
            <span class="span1" id="choose1">工会会员数统计</span>
            <span class="span1" id="choose2">工会组织数统计</span>
        </div>
        <div class="peoplenum" id="peoplenum">
        </div>
        <div class="list" id='list'>
            <div class="title1"></div>
            <div class="title">
                <span class="org-item">工会名称</span>
                <span class="org-num" id="orgNum">会员数</span>
            </div>
            <!-- <div class="org-all">
                <div class="num">
                    1
                </div>
                <div class="name">
                    建朗信息科技有限公司
                </div>
                <div class="bar"></div>
                <div class="peoplenumber">
                    123456 人
                </div>
            </div> -->
        </div>
    </div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/mobileall.js"></script>
</html>