<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gobestsoft.mapper.DeptOrganizationMapper">


    <select id="queryPidAndDeptIdByName" parameterType="string" resultType="com.gobestsoft.pojo.DeptOrganization">

        SELECT
              d1.id,d1.dept_id,d1.p_id
        FROM
              dept_organization d1
        WHERE
              d1.unit_name = #{unitName};

    </select>

    <select id="queryAllDeptIdsByPid" parameterType="int" resultType="java.lang.Integer">

        SELECT
              d1.`dept_id`
        FROM
              dept_organization d1
        WHERE
              d1.`p_id` = #{pid};


    </select>

    <select id="queryAllSonDeptIdsByPid" resultType="java.lang.Integer">

        SELECT
              d1.`id`
        FROM
              sys_dept d1
        WHERE
        pids LIKE CONCAT('%,',#{pid},'%');


    </select>

    <select id="queryDeptUnitNameByDeptId" parameterType="int" resultType="java.lang.String">

        SELECT
              d1.unit_name
        FROM
              dept_organization d1
        WHERE
              d1.`dept_id` = #{deptId};

    </select>


</mapper>