<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gobestsoft.mapper.UUserMapper">


    <!--<resultMap id="auidMap" type="user">-->
        <!--<id column="auid" property="auid"></id>-->

        <!--<collection property="memIdList" ofType="MMemberTransferMapper">-->
            <!--<id column="member_id" property="member_id"></id>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <select id="findAuiddByMemberId" resultType="java.util.Map">
        SELECT
              u.auid,
              m.member_id
        FROM
              app_user u,
              dept_member_transfer m
        WHERE
              u.member_id = m.member_id
              AND m.auid = ''

    </select>

</mapper>