<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script> -->
    <!-- <script src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">

    <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.0.2/extension/bmap.js"></script>
    <title>海南省总工会大数据中心</title>
   <!--  <link rel="shortcut icon" href="http://ghypt.hnszgh.org:9080/admin/static/favicon.ico"> -->
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .swiper-container {
    /* width: 30.312vw;
    height: 28.981vh; */
    width: 31.822vw;
    height: 33.981vh;
    position: absolute;
    left: 0;
    top: 0;
}  
.swiper-pagination-bullet{
    background: #ccc;
}
.swiper-pagination-bullet-active{
    background:#49a49f;
}

    </style>

</head>

<body>
    <div class="con-title">
        <img class="title" src="img/title.png" alt="">
    </div>
    <!-- 地点天气时间 -->
    <div class="con-weather fonts22">
        <div id="text-city">海口&nbsp;&nbsp;</div>
        <i id="icon-weather" class="iconfont "></i>
        <div id="liveWeather"></div>
        <div id="weather"></div>
        <div id="date"></div>
    </div>
    <!-- 系统工会 产业工会 -->
    <div class="con-sys">
        <img class="icon-sys" src="img/icon-sys.png" alt="">
        <div class="text-sys">
            系统工会
        </div>
    </div>
    <div class="con-com">
    <img class="icon-com" src="img/icon-com.png" alt="">
    <div class="text-com">
        产业工会
    </div>
</div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" class="wh"></div>
    <div class="news-title">
        工会新媒体
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!-- <div class="news-title">
                    工会新媒体
                </div> -->
                <div id="newm" class="wh"></div>
            </div>
            <div class="swiper-slide">
                <!-- <div class="news-title">
                    工会新闻
                </div> -->
                <div id="news" class="wh"></div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- 工会新闻 -->
    <!-- <div class="news-title">
        工会新媒体
    </div>
    <div id="news" class="wh"></div> -->
    <!-- 困难帮扶 -->
    <div class="hard-title">
        困难帮扶
    </div>
    <div id="hard">
        <div class="hard-item">
            <img class="icon-workers" src="img/icon-workers.png" alt="">
            <div>
                <div class="hard-item-title">困难职工总数量</div>
                <div class="hard-item-num" id="num-hard-worker">0</div>
            </div>
            <div class="hare-date-num">
                <div>
                    日
                    <span class="hard-item-num2" id="nhw-d">0</span> 人
                </div>
                <div>
                    周
                    <span class="hard-item-num2" id="nhw-w">0</span> 人
                </div>
                <div>
                    月
                    <span class="hard-item-num2" id="nhw-m">0</span> 人
                </div>
            </div>
        </div>
        <div class="hard-item">
            <img class="icon-workers" src="img/icon-sum.png" alt="">
            <div>
                <div class="hard-item-title">帮扶金额</div>
                <div class="hard-item-num" id="help-amount">0</div>
            </div>
            <div class="hare-date-num">
                <div>
                    日
                    <span class="hard-item-num2" id="ha-d">0</span> 人
                </div>
                <div>
                    周
                    <span class="hard-item-num2" id="ha-w">0</span> 人
                </div>
                <div>
                    月
                    <span class="hard-item-num2" id="ha-m">0</span> 人
                </div>
            </div>
        </div>
        <div class="hard-item">
            <img class="icon-12351" src="img/icon-12351.png" alt="">
            <div>
                <div class="hard-item-title">12351热线办理量</div>
                <div class="hard-item-num" id="num-hotline">0</div>
            </div>
            <div class="hare-date-num">
                <div>
                    日
                    <span class="hard-item-num2" id="nhot-d">0</span> 人
                </div>
                <div>
                    周
                    <span class="hard-item-num2" id="nhot-w">0</span> 人
                </div>
                <div>
                    月
                    <span class="hard-item-num2" id="nhot-m">0</span> 人
                </div>
            </div>
        </div>
        <div class="hard-item">
            <img class="icon-care" src="img/icon-care.png" alt="">
            <div>
                <div class="hard-item-title">医疗互助总人数</div>
                <div class="hard-item-num" id="num-medical-help">0</div>
            </div>
            <div class="hare-date-num">
                <div>
                    日
                    <span class="hard-item-num2" id="nmh-d">0</span> 人
                </div>
                <div>
                    周
                    <span class="hard-item-num2" id="nmh-w">0</span> 人
                </div>
                <div>
                    月
                    <span class="hard-item-num2" id="nmh-m">0</span> 人
                </div>
            </div>
        </div>

    </div>
    <!-- 教育培训 -->
    <div class="train-title">
        教育培训
    </div>
    <div id="train" class="wh"></div>
    <!-- 普惠商城 -->
    <div class="mall-title">
        普惠商城
    </div>
    <div id="mall" class="wh"></div>
    <!-- 活动互动 -->
    <div class="act-title">
        活动互动
    </div>
    <div id="act" class="wh" style="height:32vh"></div>
    <div class="act-msg">
        <div>
            <img class="icon-act" src="img/icon-act.png" alt="">
            <div>
                <div>活动场次总数</div>
                <div id="num-act-field">0</div>
            </div>
        </div>
        <div>
            <img class="icon-join" src="img/icon-join.png" alt="">
            <div>
                <div>参与人次总数</div>
                <div id="num-act-people">0</div>
            </div>
        </div>
    </div>
    <!-- 维权咨询 -->
    <div class="consult-title">
        维权咨询
    </div>
    <div id="consult" class="wh"></div>
    <div class="consult-msg">
        已帮助
        <span id="num-solve-problem">0</span>人解决法律问题
    </div>
    <div class="consult-item">
        <div>
            <img class="icon-now" src="img/icon-now.png" alt="">
            <div>
                正在处理案件
                <span id="num-now">0</span>个
            </div>
        </div>
        <div>
            <img class="icon-now" src="img/icon-un.png" alt="">
            <div>
                尚未处理案件
                <span id="num-un">0</span>个
            </div>
        </div>
    </div>
    <!-- 组织建设 -->
    <div id="build" style="cursor: pointer;" onclick="togo()">
        <div class="title-build">
            组织建设
        </div>
        <div class="row">
            <div class="build-item">
                <img class="icon-org-num" src="img/icon-org-num.png" alt="">
                <div>
                    <div class="build-item-title">组织个数</div>
                    <div class="build-item-num" id="num-org">0</div>
                </div>
            </div>
            <div class="build-item">
                <img class="icon-vip-num" src="img/icon-vip-num.png" alt="">
                <div>
                    <div class="build-item-title">会员人数</div>
                    <div class="build-item-num" id="num-vip">0</div>
                </div>
            </div>
            <div class="build-item">
                <img class="icon-add-num" src="img/icon-add-num.png" alt="">
                <div>
                    <div class="build-item-title">新增人数</div>
                    <div class="build-item-num" id="num-add">0</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="build-item2">
                <img class="icon-transfer-num" src="img/icon-transfer-num.png" alt="">
                <div>
                    <div class="build-item-title">转会人数</div>
                    <div class="build-item-num" id="num-transfer">0</div>
                </div>
            </div>
            <div class="build-item2">
                <img class="icon-addcom-num" src="img/icon-addcom-num.png" alt="">
                <div>
                    <div class="build-item-title">新增企业建会人数</div>
                    <div class="build-item-num" id="num-addcom">0</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/HNN.js"></script>
    <script src="js/app.js"></script>
    <script>
    function togo () {
        location.href = 'indexmap/index.html'
    }
    </script>
    <script type="text/javascript">
        function animationNum(oldNum, nowNum, el, t) {
            oldNum = parseInt(oldNum);
            nowNum = parseInt(nowNum);
            var Timer1 = setInterval(function () {
                if (oldNum == nowNum) {
                    clearInterval(Timer1);
                    return;
                } else if (oldNum < nowNum) {
                    $(el).text(++oldNum)
                } else if (oldNum > nowNum) {
                    $(el).text(--oldNum);
                }
            }, t)
        }

        
    </script>
  
</body>

</html>